!!! 5
%html
  %head
    %title ::Kariibu kwa sokoni
    %meta{:charset=>"utf-8", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link(rel="stylesheet" href="semantic/css/semantic.min.css" media="screen")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" type="text/css")
    %script(src="http://code.jquery.com/jquery-1.9.1.js")
  %body.index
    %div.container
      %div.ui.pointing.menu
        %a.active.item
          %i.home.icon
          Home
        %a.item
          %i.mail.icon
          Messages
        %a.item
          %i.user.icon
          Friends
        %div.right.menu
          %div.ui.dropdown.item
            Language 
            %i.dropdown.icon
            %div.menu
              %a.item
                English
              %a.item
                Russian
              %a.item
                Spanish
          %div.item
            %div.ui.teal.button
              Sign Up
          = yield